<div class="">
    <app-top-nav-bar></app-top-nav-bar>
    <div class="">
        <div class="d-flex">
            <div class="col-md-2 px-0">
                <!-- Left Side Bar -->
                <app-side-nav-bar></app-side-nav-bar>
            </div>
            <div class="col-md-10">
                <div class="right-side-provider">

                    <div class="tab-content">
                        <router-outlet></router-outlet>
                        <!-- <div class="pt-5">
                            <div class="btn btn-primary" (click)="getDashboardData()">
                                get Data
                            </div>
                        </div>

                        <div class='error'>
                            {{message}}
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>