<div class="row wrapper">
    <div class="col-md-2 p-0 sidebar">
        <ul>
            <li><i class="fa fa-users"></i><small class="clr">Dashboard</small></li>
            <li><i class="fa fa-users"></i><small>Transcation history</small></li>
            <li><i class="fa fa-users"></i><small>System status</small></li>
            <li><i class="fa fa-users"></i><small>Account Management</small></li>
            <li><i class="fa fa-users"></i><small>Analytics</small></li>
            <li><i class="fa fa-users"></i><small>portfolio</small></li>
            <li><i class="fa fa-users"></i><small>Notifications</small></li>
        </ul>
    </div>
</div>