* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

.wrapper {
    display: flex;
    position: relative;
    // background-color: #f3f5f9;
}

.wrapper .sidebar {
    // width: 230px;
    height: 100%;
    background: var(--bg-color);
    border: 1px solid var(--border-color);
    padding: 30px 0px;
    position: fixed;
}

.wrapper .sidebar div {
    padding: 15px;
}

.wrapper .sidebar div {
    color: #bdb8d7;
    display: block;
}

.wrapper .sidebar div .fa {
    text-align: center;
}

.wrapper .sidebar div:hover {
    color: #fff;
    cursor: pointer;
}

.color {
    color: #ec3aa4 !important;
}

.dashboard-btn {
    height: 35px;
    width: 40px;
    background: rgb(19, 161, 179);
    background: linear-gradient( 312deg, rgba(19, 161, 179, 1) 12%, rgba(204, 73, 166, 1) 87%);
    border-radius: 0px 5px 4px 0px;
}

.dashboard-btn {
    color: #fff !important;
}

small {
    padding-left: 30px;
}