<div class="row wrapper">
    <div class="col-md-2 p-0 sidebar">
        <div>
            <i class="fa fa-users"></i>
            <small class="clr">Dashboard</small>
        </div>
        <div>
            <i class="fa fa-users"></i>
            <small>Transcation history</small>
        </div>
        <div>
            <i class="fa fa-users"></i>
            <small>System status</small>
        </div>
        <div>
            <i class="fa fa-users"></i>
            <small>Account Management</small>
        </div>
        <div>
            <i class="fa fa-users"></i>
            <small>Analytics</small>
        </div>
        <div>
            <i class="fa fa-users"></i>
            <small>portfolio</small>
        </div>
        <div>
            <i class="fa fa-users"></i>
            <small>Notifications</small>
        </div>
    </div>
</div>
<!-- <style>
    .box {
        height: 35px;
        width: 40px;
        background-color: aqua;
    }
    
    .box .fa-users {
        width: 0;
        height: 0;
        text-align: center;
    }
</style> -->