<div class="row wrapper">
    <div class="col-md-2  sidebar">
        <div class="px-0">
            <i class="fa fa-quora pt-2 dashboard-btn"></i>
            <small class="color pl-2">Dashboard</small>
        </div>
        <div class="px-3">
            <i class="fa fa-modx mr-2"></i>
            <small>
                Transaction history
            </small>
        </div>
        <div class="px-3">
            <i class="fa fa-laptop mr-2"></i>
            <small>
                System status
            </small>
        </div>
        <div class="px-3">
            <i class="fa fa-map mr-3"></i>
            <small class="">Account Management</small>
        </div>
        <div class="px-3">
            <i class="fa fa-line-chart mr-2"></i>
            <small>
                Analytics
            </small>
        </div>
        <div class="px-3">
            <i class="fa fa-eercast mr-2"></i>
            <small>
                portfolio
            </small>
        </div>
        <div class="px-3">
            <i class="fa fa-pie-chart mr-2"></i>
            <small>
                Notifications
            </small>
        </div>
        <div class="px-3">
            <i class="fa fa-cog mr-2"></i>
            <small>Settings</small>
        </div>
        <div class="px-3">
            <i class="fa fa-chrome mr-2"></i> <small>
                Visit our website
            </small>
        </div>
    </div>
</div>