* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    top: 57px;
    height: -webkit-fill-available;
    background: var(--bg-color);
    border: 1px solid var(--nav-border-color);
    position: fixed;
}

.wrapper .sidebar div {
    padding: 15px;
}

.wrapper .sidebar div {
    color: var(--text-light-color);
}

.wrapper .sidebar div .fa {
    text-align: center;
}

.wrapper .sidebar div:hover {
    color: #fff;
    cursor: pointer;
}

.color {
    color: #ec3aa4 !important;
}

.dashboard-btn {
    height: 35px;
    width: 40px;
    background: rgb(19, 161, 179);
    background: linear-gradient( 312deg, rgba(19, 161, 179, 1) 12%, rgba(204, 73, 166, 1) 87%);
    border-radius: 0px 4px 4px 0px;
}

.dashboard-btn {
    color: #fff !important;
}