.wrapper {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.wrapper .main_content {
    width: 100%;
    background: #22272e;
    color: #bdb8d7;
    padding: 20px;
    // border-bottom: 1px solid #e0e4e8;
}

.fa-sm {
    font-size: 9px;
    position: absolute;
    padding-left: 8px;
    color: var(--text-pink);
    cursor: pointer;
}

.fa-sm:hover {
    color: #fff;
}

.size {
    // background: rgb(19, 161, 179);
    background: linear-gradient( 312deg, rgba(204, 73, 166, 1) 12%, rgba(19, 161, 179, 1) 87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 27px;
    text-align: center;
}

// .dropcolor {
//     background: #22272e;
//     color: #fff;
// }
.exchangeMenu:hover {
    background: var(--topNav-exchange-color);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    .dropdown-menu {
        display: block;
        background: var(--topNav-exchange-color);
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
        border: 1px solid var(--nav-border-color);
        border-top: none;
    }
}

.nav-tabs {
    border-bottom: unset !important;
}

table {
    width: 100%;
}

td {
    color: var(--text-light-color);
    border: 1px solid var(--border-color);
    padding: 15px 0 15px 0;
}

td img {
    height: 15px;
    // width: 60px;
}

td:hover {
    border: 1px double var(--text-pink);
}

tr:nth-child(1) td:nth-child(2) {
    border: 1px double var(--text-pink);
}

// tr td:hover,
// .spanactive {
//     border: 1px solid #ec3aa4;
// }
.leftmenu {
    justify-content: space-between;
    position: relative;
    display: inline-flex;
    align-items: center;
}

// .dropdown-menu {
//     width: 100% !important;
//     text-align: center;
//     background-color: unset !important;
//     margin-top: -1px;
//     border: 1px solid var(--nav-border-color);
//     cursor: pointer;
// }
.default {
    color: #fff;
}

button:hover {
    background-color: unset !important;
    color: #ec3aa4 !important;
}

.txt-cen {
    text-align: center;
}

.img-align {
    height: 30px;
    width: 32px;
}