<div class="wrapper">
    <div class="container-fluid p-0 m-0 main_content">
        <div class="col-md-12">
            <div class="row topNavBar-bgColor">
                <div class="col-md-2 borderlines">
                    <div class="title-size pt-2">Q-CRYPTO</div>
                </div>
                <div class="col-md-4 m-0 p-0 exchangeMenu-dropdown">
                    <div class="d-flex borderlines h-100 w-100 pt-3">
                        <div>
                            <small class="pl-5">Exchange:</small>
                        </div>
                        <div class="">
                            <td class="p-0 m-0 pl-2 border-0"><img class="exchangeImg" src="../../../../assets/binance.png"></td>
                        </div>
                        <div>
                            <i class="ml-4 fa fa-angle-down fa-lg" aria-hidden="true"></i>
                        </div>
                    </div>
                    <ul class="dropdown-menu m-0 w-100 p-0" role="menu">
                        <table>
                            <tbody class="text-center">
                                <tr>
                                    <td class="spanactive"><img src="/assets/HitBTC.png"></td>
                                    <td>
                                        <img class="image-align" src="/assets/binance.png">
                                        <i class="fa fa-check-circle font-circle"></i>
                                    </td>
                                    <td><img src="/assets/bitmex.png"></td>
                                    <td><img src="/assets/binance.png"></td>
                                    <td><img src="/assets/HitBTC.png"></td>
                                </tr>
                                <tr>
                                    <td><img src="/assets/kucoin_logo.png"></td>
                                    <td><img src="/assets/HitBTC.png"></td>
                                    <td><img src="/assets/binance.png"></td>
                                    <td><img src="/assets/bitmex.png"></td>
                                    <td><img src="/assets/kucoin_logo.png"></td>
                                </tr>
                                <tr>
                                    <td><img src="/assets/bitmex.png"></td>
                                    <td><img src="/assets/kucoin_logo.png"></td>
                                    <td><img src="/assets/HitBTC.png"></td>
                                    <td><img src="/assets/binance.png"></td>
                                    <td><img src="/assets/bitmex.png"></td>
                                </tr>
                                <tr>
                                    <td><img src="/assets/kucoin_logo.png"></td>
                                    <td><img src="/assets/bitmex.png"></td>
                                    <td><img src="/assets/binance.png"></td>
                                </tr>
                            </tbody>
                        </table>

                    </ul>
                </div>
                <div class="col-md-1 pt-3 text-center borderlines">
                    <input type='checkbox' id='toggle' checked class='toggle-checkbox' />
                    <label class="toggle-switch" for='toggle'></label>
                </div>
                <div class="col-md-1 py-3 countryFlag borderlines">
                    <div class="dropdown d-flex">
                        <div class="pt-2">
                            <img class="flag" src="/assets/eng.jpg" alt="">
                        </div>
                        <div class="pt-2 pl-1">Eng</div>
                        <i class="ml-1 fa fa-angle-down fa-lx"></i>
                    </div>
                    <ul class="dropdown-menu flag-list w-100 p-0 m-0">
                        <li class="">
                            <img class="flag" src="/assets/eng.jpg" alt=""> Eng
                        </li>
                        <li class="">
                            <img class="flag" src="/assets/spa.png" alt=""> Spa
                        </li>
                        <li class="">
                            <img class="flag" src="/assets/deu.png" alt=""> Deu
                        </li>
                        <li class="">
                            <img class="flag" src="/assets/fra.png" alt=""> Fra
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 d-flex justify-content-between borderlines">
                    <div class="col-md-2 py-4 txt-color">
                        <i class="fa fa-bell-o" style="position: absolute;" aria-hidden="true"></i>
                        <i class="fa fa-circle fa-sm" aria-hidden="true"></i>
                    </div>

                    <div class="col-md-6 py-2 d-flex txt-color">
                        <div class="pt-2">
                            <img src="../../assets/img.jpg" class="rounded-circle img-align" alt="image">
                        </div>
                        <div class="py-1">
                            <div class="pl-2 pt-2">Jacob Moore</div>
                        </div>

                    </div>
                    <div class="pt-3">
                        <button class="btn btn-sm px-3 btn-outline-secondary txt-color" style="border: 1px solid;"><i class="fa fa-sign-out fa-lg mr-2" aria-hidden="true"></i>Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>