<div class="ml-4 mt-4 mr-5 pr-4">
    <div class="row mx-1 p-0 my-3">
        <h5 class="my-auto layout-title">Project Name</h5>
        <div class='ml-auto d-flex '>
            <div class="my-auto d-flex mr-5">
                <i class="fa fa-circle 
                fa-md green-color" aria-hidden="true"></i>
                <p class='light-color1 layout-header'>Balance:
                    <span class='text-white ml-2'>22.39408983 / </span><span class="green-color">$352,556.05</span>
                </p>
            </div>
            <div>
                <div class="dropdown ">
                    <button #btc_menu class="btn btc-menu layout-header" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleBitcoin()"
                        [ngClass]="{'btn-menu-active':isBitcoinActive}">
                        <img src="/assets/bitcoin.png" alt=""> BTC - Bitcoin<i class="fa fa-angle-down fa-lg  ml-100px"
                            aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu btc-menu-list layout-header" aria-labelledby="dropdownMenuButton">
                        <li class="dropdown-item ">
                            <img src="/assets/ethereum.png" alt=""> ETH - Ethereum
                        </li>
                        <li class="dropdown-item">
                            <img src="/assets/ripple.png" alt=""> RPX - RPX-Ripple
                        </li>
                        <li class="dropdown-item">
                            <img src="/assets/tether.png" alt=""> USDT - Tether
                        </li>
                        <li class="dropdown-item">
                            <img src="/assets/ltc.png" alt="">LTC - Litecoin
                        </li>
                        <li class="dropdown-item">
                            <img src="/assets/ethereum.png" alt=""> ETH - Ethereum
                        </li>
                        <li class="dropdown-item">
                            <img src="/assets/ripple.png" alt=""> RPX - RPX-Ripple
                        </li>
                        <li class="dropdown-item">
                            <img src="/assets/tether.png" alt=""> USDT - Tether
                        </li>
                        <li class="dropdown-item">
                            <img src="/assets/ltc.png" alt="">LTC - Litecoin
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class=" row  mx-1 card ">
        <div class="card-body">
            <div class="row d-flex justify-content-between mx-1">
                <div class="text-white ">
                    <small>
                        <i class="fa fa-dot-circle-o green-color mr-1" aria-hidden="true"></i> Strategy
                        N<sup><u>o</u></sup>1
                    </small>
                </div>
                <div class='d-flex'>
                    <div class="chart-header">
                        <p>Investment</p>
                        <p class="green-color"><b>$135.00</b></p>
                    </div>
                    <div class="chart-header">
                        <p>Profit</p>
                        <p class="green-color"><b>+$135.00</b></p>
                    </div>
                    <div class="chart-header">
                        <p>ROI</p>
                        <p class="green-color"><b>+%17.0</b></p>
                    </div>
                    <div class='mr-3'>
                        <div class="btn-group">
                            <button class="btn px-4  btn-outline profit_loss active_btn" aria-current="profit and loss"
                                autofocus>Profit and
                                Loss</button>
                            <button class="btn px-3 btn-outline">Win Rate</button>
                        </div>
                    </div>
                    <div class="mr-3">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-outline"><i class="fa fa-clock-o fa-lg"
                                    aria-hidden="true"></i></button>

                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-outline active_btn"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Minutes <i class="fa fa-angle-down fa-lg  ml-4" aria-hidden="true"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="Timestamp">
                                    <li><a class="dropdown-item" href="#">30 m</a></li>
                                    <li><a class="dropdown-item" href="#">45 m</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <button class="btn  btn-outline mr-2px pr-5 active_btn">34</button>
                        <button class="btn  btn-outline mr-2px"><i class="fa fa-minus" aria-hidden="true"></i></button>
                        <button class="btn  btn-outline "><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="chart">
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                        [yaxis]="chartOptions.yaxis" [title]="chartOptions.title" [grid]="chartOptions.grid"
                        [annotations]="chartOptions.annotations" [plotOptions]="chartOptions.plotOptions"></apx-chart>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 mx-1">
        <h6 class='layout-title'>Transaction table</h6>
        <table class="table-borderless">
            <thead>
                <tr>
                    <th class='pl-4'><i class="fa fa-circle fa-sm" aria-hidden="true"></i>Timestamp</th>
                    <th class='pl-3'><i class="fa fa-circle fa-sm" aria-hidden="true"></i>Executed Path</th>
                    <th class='pl-3'><i class="fa fa-circle fa-sm" aria-hidden="true"></i>Lot Size</th>
                    <th class='pl-3'><i class="fa fa-circle fa-sm" aria-hidden="true"></i>PnL</th>
                    <th class='pl-3'><i class="fa fa-circle fa-sm" aria-hidden="true"></i>Return</th>
                    <th class='pl-3'><i class="fa fa-circle fa-sm" aria-hidden="true"></i>Commisions</th>
                    <th class='pl-3'><i class="fa fa-circle fa-sm" aria-hidden="true"></i>Graph Creation</th>
                    <th class='pl-3'><i class="fa fa-circle fa-sm" aria-hidden="true"></i>Trending</th>
                    <th class='pl-3'><i class="fa fa-circle fa-sm" aria-hidden="true"></i>Aggregated Execution</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>
                        <span class="">12/08/2020</span>
                        <span class="yellow-color ml-1">03:45:06:034</span>
                    </td>
                    <td>
                        ETH <i class="fa fa-angle-right" aria-hidden="true"></i> DASH <i class="fa fa-angle-right"
                            aria-hidden="true"></i> BTC <i class="fa fa-angle-right" aria-hidden="true"></i> ETH
                    </td>
                    <td>
                        1ETH
                    </td>
                    <td class='green-color'>
                        1,5 ETH = +,5 ETH
                    </td>
                    <td class="green-color">0,5 %</td>
                    <td>0.03 + 0.02 + 0.02</td>
                    <td>0.5 <span class='sec'> sec </span> </td>
                    <td>0.5 <span class='sec'> sec </span> </td>
                    <td>0.5 <span class='sec'> sec </span> </td>

                </tr>
                <tr>
                    <td>
                        <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>
                        <span class="">12/08/2020</span>
                        <span class="yellow-color ml-1">03:45:06:034</span>
                    </td>
                    <td>
                        ETH <i class="fa fa-angle-right" aria-hidden="true"></i> DASH <i class="fa fa-angle-right"
                            aria-hidden="true"></i> BTC <i class="fa fa-angle-right" aria-hidden="true"></i> ETH

                    </td>
                    <td>
                        1ETH
                    </td>
                    <td class='pink-color'>
                        1,5 ETH = +,5 ETH
                    </td>
                    <td class="pink-color">0,5 %</td>
                    <td>@0.03 + 0.02 + 0.02</td>
                    <td>0.5 <span class='sec'> sec </span> </td>
                    <td>0.5 <span class='sec'> sec </span> </td>
                    <td>0.5 <span class='sec'> sec </span> </td>

                </tr>
                <tr>
                    <td>
                        <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>
                        <span class="">12/08/2020</span>
                        <span class="yellow-color ml-1">03:45:06:034</span>
                    </td>
                    <td>
                        ETH <i class="fa fa-angle-right" aria-hidden="true"></i> DASH <i class="fa fa-angle-right"
                            aria-hidden="true"></i> BTC <i class="fa fa-angle-right" aria-hidden="true"></i> ETH
                    </td>
                    <td>
                        1ETH
                    </td>
                    <td class='green-color'>
                        1,5 ETH = +,5 ETH
                    </td>
                    <td class="green-color">0,5 %</td>
                    <td>@0.03 + 0.02 + 0.02</td>
                    <td>0.5 <span class='sec'> sec </span> </td>
                    <td>0.5 <span class='sec'> sec </span> </td>
                    <td>0.5 <span class='sec'> sec </span> </td>

                </tr>


            </tbody>
        </table>
    </div>
</div>